@import "_variables.scss";

@import "../../libraries/bootswatch-scss/readable/_variables.scss";
@import "../../libraries/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../libraries/bootswatch-scss/readable/_bootswatch.scss";


.component-panel{
	width: 50%;
	padding: 20px;
	border: 15px;
	background: $gray-light;
}  

.content{
	padding: 50px;
}

body{
	margin-left: 10%;
}

.always-visible-left{
	position: fixed;
	left: 10px;
	bottom: 10px;
}

.bar-item{
	padding: 1px;
}